In [1]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 67 bytes

In [2]:
!kaggle competitions download -c "homesite-quote-conversion"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
  0% 0.00/258k [00:00<?, ?B/s]
100% 258k/258k [00:00<00:00, 38.6MB/s]
Downloading train.csv.zip to /content
 89% 33.0M/37.1M [00:02<00:00, 6.73MB/s]
100% 37.1M/37.1M [00:02<00:00, 17.5MB/s]
Downloading test.csv.zip to /content
 36% 9.00M/24.7M [00:01<00:03, 5.48MB/s]
100% 24.7M/24.7M [00:01<00:00, 16.5MB/s]

In [3]:
! unzip train.csv.zip -d train
! unzip test.csv.zip -d test

Archive:  train.csv.zip
  inflating: train/train.csv
Archive:  test.csv.zip
  inflating: test/test.csv

In [4]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#importing necessary Python libraries
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics


# Set the aesthetic style of the plots.
sns.set_style(style='darkgrid')
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [5]:
housing_df_train=pd.read_csv("train/train.csv")
housing_df_train.head(5)

   QuoteNumber Original_Quote_Date  ...  GeographicField63 GeographicField64
0            1          2013-08-16  ...                  N                CA
1            2          2014-04-22  ...                  N                NJ
2            4          2014-08-25  ...                  N                NJ
3            6          2013-04-15  ...                  N                TX
4            8          2014-01-25  ...                  N                IL

[5 rows x 299 columns]

In [6]:
housing_df_test=pd.read_csv("test/test.csv")
housing_df_test.head(5)

   QuoteNumber Original_Quote_Date  ... GeographicField63  GeographicField64
0            3          2014-08-12  ...                 Y                 IL
1            5          2013-09-07  ...                 N                 NJ
2            7          2013-03-29  ...                 N                 NJ
3            9          2015-03-21  ...                 N                 TX
4           10          2014-12-10  ...                 N                 CA

[5 rows x 298 columns]

In [7]:
housing_df_train.drop(['PropertyField29','PersonalField84'], axis=1, inplace=True)
housing_df_test.drop(['PropertyField29','PersonalField84'], axis=1, inplace=True)

In [8]:
housing_df_train['Date'] = pd.to_datetime(pd.Series(housing_df_train['Original_Quote_Date']))

# Drop 'Original_Quote_date'
housing_df_train = housing_df_train.drop('Original_Quote_Date', axis=1)

# Extract year,month,weekday from 'Date'
housing_df_train['Year'] = housing_df_train['Date'].apply(lambda x: x.year)
housing_df_train['Month'] = housing_df_train['Date'].apply(lambda x: x.month)
housing_df_train['weekday'] = housing_df_train['Date'].apply(lambda x: x.weekday())
housing_df_train=housing_df_train.drop('Date', axis=1)

In [9]:
housing_df_test['Date'] = pd.to_datetime(pd.Series(housing_df_test['Original_Quote_Date']))

# Drop 'Original_Quote_date'
housing_df_test = housing_df_test.drop('Original_Quote_Date', axis=1)

# Extract year,month,weekday from 'Date'
housing_df_test['Year'] = housing_df_test['Date'].apply(lambda x: x.year)
housing_df_test['Month'] = housing_df_test['Date'].apply(lambda x: x.month)
housing_df_test['weekday'] = housing_df_test['Date'].apply(lambda x: x.weekday())
housing_df_test=housing_df_test.drop('Date', axis=1)

In [10]:
housing_df_train = housing_df_train.fillna(-1)
housing_df_test = housing_df_test.fillna(-1)

In [11]:
for f in housing_df_train.columns:
    if housing_df_train[f].dtype=='object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(housing_df_train[f].values) + list(housing_df_test[f].values))
        housing_df_train[f] = lbl.transform(list(housing_df_train[f].values))
        housing_df_test[f] = lbl.transform(list(housing_df_test[f].values))

Field6
Field10
Field12
CoverageField8
CoverageField9
SalesField7
PersonalField7
PersonalField16
PersonalField17
PersonalField18
PersonalField19
PropertyField3
PropertyField4
PropertyField5
PropertyField7
PropertyField14
PropertyField28
PropertyField30
PropertyField31
PropertyField32
PropertyField33
PropertyField34
PropertyField36
PropertyField37
PropertyField38
GeographicField63
GeographicField64

In [12]:
y_train=housing_df_train['QuoteConversion_Flag']
X_train = housing_df_train.drop(['QuoteConversion_Flag'], axis=1)

In [13]:
def get_roc_auc_score(model, flag=True):
    '''
    model : classifier to predict values of X

    '''
    c = []
    pred_train = model.predict(X_train)
    
    train_rec = metrics.roc_auc_score(y_train,pred_train)
    c.append(train_rec) # adding train recall to list
    if flag == True:
        print("ROC_AUC_Score on training set : ", train_rec)
        
    return c

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [15]:
rf_estimator = RandomForestClassifier(random_state=1,oob_score=True,bootstrap=True, class_weight='balanced')
# Grid of parameters to choose from
params = {
              'n_estimators':[50,100,200],
              'max_features':[3,6,9],
              'min_samples_leaf':[20,40,60],
              'n_jobs':[-1]
}

# Run the grid search
grid_obj = GridSearchCV(rf_estimator, params,cv=5, scoring='roc_auc')
grid_obj = grid_obj.fit(X_train, y_train)

In [21]:
rf_estimator = grid_obj.best_estimator_
print(rf_estimator)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features=9,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)

In [17]:
# Fit the best algorithm to the data. 
rf_estimator.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features=9,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)

In [19]:
get_roc_auc_score(rf_estimator)

ROC_AUC_Score on training set :  0.9082256545162408

[0.9082256545162408]

In [25]:
rf2= RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='entropy', max_depth=15, max_features=68,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8,min_samples_split=3,
                       min_weight_fraction_leaf=0.0, n_estimators=446,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)

In [26]:
rf2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='entropy', max_depth=15, max_features=68,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=3,
                       min_weight_fraction_leaf=0.0, n_estimators=446,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)

In [27]:
get_roc_auc_score(rf2)

ROC_AUC_Score on training set :  0.9041808765350496

[0.9041808765350496]

In [28]:
! unzip sample_submission.csv.zip -d submission

Archive:  sample_submission.csv.zip
  inflating: submission/sample_submission.csv

In [30]:
output_submission = pd.DataFrame(zip(housing_df_test.QuoteNumber,rf2.predict_proba(housing_df_test)[:,1]), columns = ['QuoteNumber','QuoteConversion_Flag'])
output_submission.to_csv('randomforest_with_hyperparameters.csv', index=False)